<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gem Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Gem Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Gem Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Gem Orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Key.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,175},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,175},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,175},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{101,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,145}}</string>
                <key>sourceSize</key>
                <string>{101,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tileset.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7b81d3e73373d91e1599963af9430b5$</string>
            <key>textureFileName</key>
            <string>tileset.png</string>
        </dict>
    </dict>
</plist>
