<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gem Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Gem Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Gem Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Gem Orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Key.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{101,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,145}}</string>
                <key>sourceSize</key>
                <string>{101,145}</string>
            </dict>
            <key>levelList.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{523,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,475}}</string>
                <key>sourceSize</key>
                <string>{523,475}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tileset.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d81e15ba43e230d5ec4e55f9f1089b6d$</string>
            <key>textureFileName</key>
            <string>tileset.png</string>
        </dict>
    </dict>
</plist>
