<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gem Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Gem Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Gem Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Gem Orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
            <key>Rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{101,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,171}}</string>
                <key>sourceSize</key>
                <string>{101,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tileset.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f097248f4c0999b9aeb1bf1840962a38$</string>
            <key>textureFileName</key>
            <string>tileset.png</string>
        </dict>
    </dict>
</plist>
